.idea/
node_modules
.DS_Store

## Server

### Media files
cmcd-server/nginx/media/vod/QualaDataset/*
!cmcd-server/nginx/media/vod/QualaDataset/readme.txt
cmcd-server/nginx/media/vod/NossdavCMCD/*
!cmcd-server/nginx/media/vod/NossdavCMCD/readme.txt
